@mixin i-icons {
    background-image: $url-icons;
    background-repeat: no-repeat;

    @include pixel-ratio {
        background-image: $url-icons-x2;
        background-size: 90px auto;
    }
}

[class*=" i-icon-"],
[class^="i-icon-"] {
    @include i-icons();
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    height: 18px;
    width: 18px;
}
.i-icon-menu {
    background-position: 0 0;

    button:hover &,
    a:hover & {
        background-position: -18px 0;
    }
}
.i-icon-marker {
    background-position: 0 -18px;

    button:hover &,
    a:hover & {
        background-position: -18px -18px;
    }
}
.i-icon-marker-white {
    background-position: -36px -18px;
}
.i-icon-search {
    background-position: 0 -36px;

    button:hover &,
    a:hover & {
        background-position: -18px -36px;
    }
}
.i-icon-search-white {
    background-position: -36px -36px;
}
.i-icon-search-blue {
    background-position: -18px -36px;
}
.i-icon-edit {
    background-position: 0 -54px;

    button:hover &,
    a:hover & {
        background-position: -18px -54px;
    }
}
.i-icon-settings {
    background-position: -36px 0;
}
.i-icon-gps {
    background-position: -36px -54px;
}
.i-icon-close {
    background-position: 0 -72px;

    button:hover &,
    a:hover & {
        background-position: -18px -72px;
    }
}
.i-icon-flash {
    background-position: -36px -72px;
}
.i-icon-mobile {
    background-position: -18px -90px;

    input:checked ~ &,
    button:hover &,
    label:hover &,
    a:hover & {
        background-position: 0 -90px;
    }
}
.i-icon-car {
    background-position: -18px -108px;

    input:checked ~ &,
    button:hover &,
    label:hover &,
    a:hover & {
        background-position: 0 -108px;
    }
}
.i-icon-routes {
    background-position: -54px 0;
}
.i-icon-plus {
    background-position: -54px -18px;
}
.i-icon-minus {
    background-position: -54px -36px;
}
.i-icon-fire {
    background-position: -54px -54px;
}
.i-icon-layers {
    background-position: -54px -72px;
}
.i-icon-bell {
    background-position: -36px -90px;
}
