input[type=text] {
    background: $color-pickled-bluewood;
    border-radius: 3px;
    font-weight: 500;
    font-family: $font-base;
    font-size: 13px;
    border: none;
    padding: 5px 10px;

    &.slider-txt {
        width: 56px;
        float: right;
        color: $color-white;
    }
}

$control-size: 19px;
%control-set {
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    height: $control-size;
    width: $control-size;

    .checker {
        background: transparent;
        border: 2px solid $color-lynch;
        display: block;
        height: $control-size;
        width: $control-size;

        &:hover {
            background-color: rgba($color-lynch, 0.25);
        }
    }
    &[readonly] {
        cursor: default !important;
    }
    input[type="checkbox"],
    input[type="radio"] {
        top: 0;
        left: 0;
        visibility: hidden;
        position: absolute;
    }
}

.checkbox-control {
    @extend %control-set;

    .checker {
        @include border-radius(3px);

        &:before {
            @include rotate(-45deg);
            content: "";
            border-left: 2px solid;
            border-bottom: 2px solid;
            height: 6px;
            width: 10px;
            position: absolute;
            left: 4px;
            top: 5px;
            visibility: hidden;
        }
    }
    &.-multi .checker {
        background: $color-lynch;
        border: 0 none;

        &:before {
            visibility: visible;
        }
    }
    input[type="checkbox"]:checked {
        & + .checker {
            background: $color-azure;
            border-width: 0;
            color: $color-white;

            &:before {
                visibility: visible;
            }
        }
    }

    & + label,
    & + .label-control {
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.radio-control {
    @extend %control-set;
    @include border-radius(10px);

    .checker {
        @include border-radius(10px);

        &:before {
            @include border-radius(4px);
            @include translate(-50%, -50%);
            content: "";
            height: 8px;
            width: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            visibility: hidden;
        }
    }
    input[type="radio"]:checked {
        & + .checker {
            background: $color-azure;
            border-width: 0;

            &:before {
                background-color: $color-white;
                visibility: visible;
            }
        }
    }
    & + .radio-label-control,
    & + .label-control {
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
        vertical-align: middle;
    }
}