.map-widget {
    position: absolute;
    top: 40px;
    z-index: 5;

    &.-w-horizontal {
        color: $color-white;
        right: 80px;
    }
    &.-w-vertical {
        right: 40px;
    }

    &--group {
        display: inline-block;
        font-size: 0;
        margin-right: 30px;
        vertical-align: middle;
    }
    &--label {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        color: $color-white;
        margin: 0 10px;
        text-shadow: 0 1px 1px rgba($color-martinique, 0.8);
        text-transform: uppercase;
        vertical-align: middle;
    }

    %buttons-stgs {
        position: relative;
        outline: none;
        padding: 0;
        vertical-align: middle;

        [class^="i-icon-"] {
            @include translate(-50%, -50%);
            transition: background-positions 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    &--btn {
        @extend %buttons-stgs;
        @include border-radius(6px);
        @include box-shadow(0px 1px 16px rgba($color-martinique, 0.6));
        background: $color-fiord-light;
        color: $color-white;
        border: 0 none;
        display: block;
        margin-bottom: 10px;
        height: 40px;
        width: 40px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            background: lighten($color-azure, 2%);
        }
    }

    &--btn-round {
        @extend %buttons-stgs;
        display: inline-block;

        input[type="checkbox"],
        input[type="radio"] {
            top: 0;
            left: 0;
            visibility: hidden;
            position: absolute;
        }
        .label-control {
            @include border-radius(50%);
            @include box-shadow(0px 1px 1px rgba($color-martinique, 0.25));
            background: transparent;
            border: 2px solid lighten($color-azure, 2%);
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: all 0.15s ease;
        }

        &:hover .label-control {
            background-color: rgba($color-azure, 0.6);
            border-color: lighten($color-dodger-blue, 2%);
            z-index: 1;
        }
        input[type="checkbox"]:checked + .label-control,
        input[type="radio"]:checked + .label-control {
            background-color: rgba($color-azure, 0.6);
            border-color: $color-white;
            z-index: 1;
        }
        &.-with-icon {
            [class^="i-icon-"] {
                opacity: 0.8;
            }
            &:hover {
                .label-control {
                    background: transparent;
                    border-color: lighten($color-azure, 2%);
                }
                [class^="i-icon-"] {
                    opacity: 1;
                }
            }
            input[type="checkbox"]:checked,
            input[type="radio"]:checked {
                & + .label-control {
                    background-color: rgba($color-azure, 0.6);
                    border-color: lighten($color-dodger-blue, 2%);
                    z-index: 1;
                }
                & ~ [class^="i-icon-"] {
                    opacity: 1;
                    z-index: 2;
                }
            }
        }

        &.-size-1 {
            height: 48px;
            width: 48px;
            margin: 0 -4px;
        }
        &.-size-2 {
            height: 44px;
            width: 44px;
            margin: 0 -2px;
        }
        &.-size-3 {
            height: 40px;
            width: 40px;
            margin: 0 -1px;
        }
        &.-size-4 {
            height: 36px;
            width: 36px;
            margin: 0;
        }
        &.-size-5 {
            height: 34px;
            width: 34px;
            margin: 0 1px;
        }
        &.-size-6 {
            height: 30px;
            width: 30px;
            margin: 0 1px;
        }
        &.-size-7 {
            height: 28px;
            width: 28px;
            margin: 0 2px;
        }
        &.-size-8 {
            height: 26px;
            width: 26px;
            margin: 0 3px;
        }
        &.-size-9 {
            height: 22px;
            width: 22px;
            margin: 0 3px;
        }
        &.-size-10 {
            height: 20px;
            width: 20px;
            margin: 0 4px;
        }
    }
}