.poi-block-wrp {
    @include border-radius(20px);
    background-color: $color-haiti;
    margin: 40px;
    position: relative;

    @include mobile {
        margin: 10px;
    }
}
.poi-block {
    margin: 0 auto;
    max-width: 400px;
    padding: 40px 10px;
    position: relative;

    &--close-btn {
        @include border-radius(3px);
        background: none;
        border: 0 none;
        color: lighten($color-pickled-bluewood, 5%);
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        padding: 4px;
        overflow: hidden;
        outline: none;
        white-space: nowrap;

        &:hover {
            background: $color-big-stone;
            color: rgba($color-white, 0.8);
        }
        .i-icon-close {
            background: none;
            position: relative;
            color: inherit;

            &::before,
            &::after {
                border-bottom: 2px solid;
                content: "";
                margin-top: -2px;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
            }
            &::before {
                @include rotate(-45deg);
            }
            &::after {
                @include rotate(45deg);
            }
        }
    }

    &--label {
        color: $color-big-stone;
        font-size: 88px;
        font-weight: 900;
        text-align: center;
        margin-bottom: -30px;
        line-height: 1;
    }
    &--title {
        color: rgba($color-white, 0.8);
        font-size: 34px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
        position: relative;
    }
    &--descr {
        color: $color-pickled-bluewood;
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
    }
    .box-header {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        background: lighten($color-big-stone, 5%);
        min-height: 0;
        padding: 8px 25px;

        .el-title {
            color: $color-dodger-blue;
            font-size: 13px;
        }
        .el-points {
            color: $color-lynch;
            font-size: 18px;
            font-weight: 100;

            b {
                font-weight: 400;
            }
        }
    }
    .box-body {
        background: $color-big-stone;
        margin-bottom: 40px;
        padding: 15px 25px 10px;
        min-height: 260px;

        &--loader {
            @include translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
        }
    }
    &--search {
        @include border-radius(15px);
        background: $color-big-stone;
        margin-bottom: 40px;
        padding: 10px 50px;
        position: relative;
        overflow: hidden;

        [class^="i-icon-"] {
            @include translate(0, -50%);
            position: absolute;
            left: 25px;
            top: 50%;
        }
        input {
            @include placeholder{color:  $color-east-bay};
            background: transparent;
            color: rgba($color-white, 0.8);
            font-size: 12px;
            font-weight: 500;
            border: 0 none;
            margin: 0;
            padding: 6px 5px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
    &--points {
        margin: 0;
        padding: 0;
        list-style: none;

        .list-item {
            padding: 8px 0;
            overflow: hidden;
        }
        .checkbox-control,
        .radio-control {
            float: left;
            margin-right: 12px;
        }
        .label-control {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $color-lynch;
            font-size: 14px;

            span {
                color:  rgba($color-white, 0.8);
            }
        }
        .radio-label-control {
            display: inline-block;
            font-size: 11px;
            color: rgba($color-white, 0.8);
            text-transform: uppercase;
            line-height: 1.6;
            vertical-align: middle;

            .icon-star {
                margin-top: -4px;
                margin-right: 6px;
            }
            span {
                color: $color-white;
            }
            &:hover {
                color: $color-dodger-blue;

                span {
                    color: darken($color-dodger-blue, 5%);
                }
            }
        }
    }
    &--points-group {
        padding: 10px 0 0;
        list-style: none;
        margin-left: 45px;
    }
    &--group-title {
        display: inline-block;
        font-size: 11px;
        color: rgba($color-white, 0.8);
        text-transform: uppercase;
        line-height: 1.6;
        vertical-align: middle;
        position: relative;
        top: -1px;
        overflow: hidden;
        white-space: nowrap;

        span {
            color: $color-white;
        }
        &:hover {
            color: $color-dodger-blue;

            span {
                color: darken($color-dodger-blue, 5%);
            }
        }
    }
    &--toggle {
        background: none;
        border: 0 none;
        color: rgba($color-white, 0.8);
        position: relative;
        outline: none;
        float: left;
        margin-right: 6px;
        vertical-align: middle;
        height: 20px;
        width: 16px;

        &:hover {
            color: $color-dodger-blue;
        }

        &::before {
            @include translate(0, -50%);
            font-size: 24px;
            content: '−';
            margin-top: 0;
            position: absolute;
            line-height: 1;
            left: 0;
            top: 50%;
        }
        &.-closed::before {
            content: '+';
            margin-top: -1px;
        }
    }
    &--buttons {
        text-align: center;
    }
}